.yin {
  -webkit-box-shadow: 0 2px 8px rgba(230, 230, 230, 0.75);
  -moz-box-shadow: 0 2px 8px rgba(230, 230, 230, 0.75);
  -ms-box-shadow: 0 2px 8px rgba(230, 230, 230, 0.75);
  -o-box-shadow: 0 2px 8px rgba(230, 230, 230, 0.75);
  box-shadow: 0 2px 8px rgba(230, 230, 230, 0.75);
  border-bottom: 1px solid #f1f1f1;
}

.login {
  width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
}

.login .member {
  font-size: 20px;
  color: #999999;
  padding-top: 15px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 36px;
}

.login .login-s:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.login .login-s .login-s-l {
  float: left;
  position: relative;
  width: 500px;
  margin-bottom: 46px;
}

.login .login-s .login-s-l .regibtn {
  position: absolute;
  left: 197px;
  bottom: 21px;
}

.login .login-s .login-s-l .regibtn a {
  padding: 0 20px;
  line-height: 48px;
  height: 48px;
  border-radius: 4px;
  color: #64a131;
  background-color: #fff;
  text-align: center;
  display: inline-block;
  border: 1px solid #64a131;
}

.login .login-s .login-s-r {
  float: right;
  width: 500px;
}

.login .login-s .login-s-r #fo2 {
  margin-top: 0;
}

.login .login-s .login-s-r #fo2 div:nth-of-type(3) {
  text-align: right;
}

.login .login-s .login-s-r #fo2 #yanzheng {
  width: 270px;
  margin-right: 30px;
}

.login .login-s .login-s-r #fo2 #yan {
  position: absolute;
  right: 31px;
  border: 0;
  width: 60px;
  color: #64a131;
  font-size: 16px;
  top: 2px;
}

.login .login-s .login-s-r #fo2 span {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 20px;
  height: 20px;
  background: url(../imgs/icons.png) no-repeat -7px -325px;
  cursor: pointer;
}

.login .login-s .login-s-r #fo2 .iconerror {
  right: -65px;
  background: url(../imgs/icon-error.png) no-repeat 0 0;
  width: 22px;
  height: 22px;
  display: none;
}

.login .login-s .login-s-r #fo2 .true {
  display: none;
}

.login .login-s .login-s-r #fo2 .false {
  display: block;
}

.login .login-s .login-s-r form {
  margin-top: 75px;
}

.login .login-s .login-s-r form div {
  position: relative;
  margin-bottom: 26px;
  text-align: right;
}

.login .login-s .login-s-r form div:nth-of-type(3) {
  text-align: center;
}

.login .login-s .login-s-r form label {
  line-height: 40px;
  font-size: 16px;
  color: #999999;
  margin-right: 30px;
}

.login .login-s .login-s-r form input {
  width: 300px;
  height: 28px;
  outline: none;
  border-radius: 0;
  color: #555;
  padding: 6px 12px;
  border: 1px solid #ccc;
  line-height: 40px;
}

.login .login-s .login-s-r form .checkb {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 12px;
  left: 175px;
}

.login .login-s .login-s-r form a {
  display: inline-block;
  width: 106px;
  line-height: 48px;
  height: 48px;
  border-radius: 4px;
  color: #64a131;
  background-color: #fff;
  text-align: center;
  border: 1px solid #64a131;
}

.login .login-s .login-s-r form a:nth-of-type(1) {
  background: #64a131;
  color: #fff;
}
