.yin {
  -webkit-box-shadow: 0 2px 8px rgba(230, 230, 230, 0.75);
  -moz-box-shadow: 0 2px 8px rgba(230, 230, 230, 0.75);
  -ms-box-shadow: 0 2px 8px rgba(230, 230, 230, 0.75);
  -o-box-shadow: 0 2px 8px rgba(230, 230, 230, 0.75);
  box-shadow: 0 2px 8px rgba(230, 230, 230, 0.75);
  border-bottom: 1px solid #f1f1f1;
}

.page-t {
  padding-top: 26px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.page-t .page-list {
  width: 100%;
  padding-bottom: 6px;
  padding-top: 12px;
  border-bottom: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.page-t .page-list:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.page-t .page-list h5 {
  color: #999999;
  line-height: 24px;
  margin-right: 20px;
  float: left;
  font-weight: 500;
}

.page-t .page-list .page-list-r {
  float: left;
  width: 1230px;
}

.page-t .page-list .page-list-r span {
  display: inline-block;
  font-size: 14px;
  height: 24px;
  padding-left: 9px;
  padding-right: 9px;
  line-height: 24px;
  text-align: center;
}

.page-t .page-list .page-list-r .leftpart {
  width: 48px;
  float: left;
}

.page-t .page-list .page-list-r .leftpart a {
  float: left;
  background: #64a131;
}

.page-t .page-list .page-list-r .leftpart a span {
  color: #fff;
}

.page-t .page-list .page-list-r .rightpart {
  float: left;
  width: 1182px;
}

.page-t .page-list .page-list-r .rightpart a span {
  color: #555;
}

.list-ul {
  margin-top: 27px;
}
